.full {
width: 100%;
height: 1800px;
border: 1px solid black;  
border-radius: 50px; 
position: relative; 
}

.logo {
width: 5%;
height: 60px;
border: none;
position: absolute; 
border-radius: 20%;
transform: matrix(1.2, 0, 0, 1.2, 70, 20);
transition: 0.3s;
}

.logo:hover {
transform: matrix(1.3, 0, 0, 1.3, 71, 21);
}

.header {
width: 100%;
height: 120px;
border: none;
position: relative;    
}

.nav {
width: 70%;
height: 100px;
border: none;
margin: 0 auto;
border-radius: 60px;
margin-top: 12px;
}

.home {
width: 15%;
height: 60px;
border: 1px solid black;
border-radius: 50px;
transform: matrix(1, 0, 0, 1, 40, 20);
background-color: rgb(135, 17, 17, 1);
display: inline-block;
transition: 0.4s;
}

.home:hover {
transform: matrix(1.1, 0, 0, 1.1, 40, 20);
}

.nav_text {
color: white;
}

.projects {
width: 15%;
height: 60px;
border: 1px solid black;
border-radius: 50px;
transform: matrix(1, 0, 0, 1, 120, 20);
background-color: rgb(135, 17, 17, 1);
display: inline-block;
transition: 0.4s;
}

.projects:hover {
transform: matrix(1.1, 0, 0, 1.1, 120, 20);
}


.about_us {
width: 15%;
height: 60px;
border: 1px solid black;
border-radius: 50px;
transform: matrix(1, 0, 0, 1, 240, 20);
background-color: rgb(135, 17, 17, 1);
display: inline-block;
transition: 0.4s;
}

.about_us:hover {
transform: matrix(1.1, 0, 0, 1.1, 240, 20);
}


.models3d {
width: 15%;
height: 60px;
border: 1px solid black;
border-radius: 50px;
transform: matrix(1, 0, 0, 1, 360, 20);
background-color: rgb(135, 17, 17, 1);
display: inline-block;
transition: 0.4s;
}

.models3d:hover {
transform: matrix(1.1, 0, 0, 1.1, 360, 20);
}


.main {
width: 100%;
height: 800px;
border: 1px solid;
background-color: black;
border-radius: 50px;
}

.text_div {
width: 25%;
height: 70px;
border: none; 
border-radius: 20px;
margin-top: 150px; 
margin-left: 150px;  
}

.model_div {
width: 60%;
height: 500px;
border: 1px solid blue;
margin-left: 600px;
margin-top: 200px;
border-radius: 40px;
transition: 0.4s;
}

.model_div:hover {
background-color: rgb(114, 26, 26); 
}

.gtr {
width: 100%;
height: 500px;
}

.footer {
position: absolute;
width: 90%;
height: 300px;
background-color:  red;   
border-radius: 30px;
bottom: 0;
right: 70px;
}
